.w-250 {
  width: 250px !important;
}

.w-300 {
  width: 300px !important;
}

.w-350 {
  width: 350px !important;
}

.w-370 {
  width: 370px !important;
}

.w-430 {
  width: 430px !important;
}

.w-470 {
  width: 470px !important;
}

.w-80 {
  width: 80px !important;
}

.w-150 {
  width: 150px !important;
}

.w-200 {
  width: 200px !important;
}

.w-100 {
  width: 100px !important;
}

.width-99 {
  width: 99%;
}

.mw-160 {
  max-width: 160px;
  height: 50px;
}

.w-120 {
  width: 120px !important;
}

.w-190 {
  width: 190px !important;
}

.width-10 {
  width: 10.5%;
}

.width-6 {
  width: 6%;
}

.w-250 {
  width: 250px !important;
}

.w-300 {
  width: 300px !important;
}

.w-350 {
  width: 350px !important;
}

.w-370 {
  width: 370px !important;
}

.w-430 {
  width: 430px !important;
}

.w-470 {
  width: 470px !important;
}

.w-80 {
  width: 80px !important;
}

.w-150 {
  width: 150px !important;
}

.w-200 {
  width: 200px !important;
}

.w-100 {
  width: 100px !important;
}

.width-99 {
  width: 99%;
}

.mw-160 {
  max-width: 160px;
  height: 50px;
}
